# logger.cfg
[logger_lib]

# Set prefix of log file
logfileprefix=log_

# Set extension of log file
logfileextension=.log

# Set format of datetime stamp of log file
logfilename_dateformat=%%d-%%m-%%Y

# Set format of time stamp inside log file
logfile_timeformat=%%H:%%M:%%S

# Set maximum logfile size in Kbytes
maxlogfilesize = 100

# Send alarm through telegram bot
# when debug, error or critical message appeared.
# Type yes for sending
[alarm_settings]

# Telegram bot token
bot_token = TOKEN

# Telegram bot chat ID
bot_chatID = CHAT_ID

# Send DEBUG alarm
sendalarmondebug = No

# Send ERROR alarm
sendalarmonerror = No

# Send CRITICAL alarm
sendalarmoncritical = Yes

